#about {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  .aboutUs {
    .aboutContainerTop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .aboutUsTitle {
        padding: 2.2rem;
        padding-bottom: 1.6rem;
        border-bottom: 2px solid #F3D213;
      }
      .aboutUsDescription {
        padding: 2rem;
        margin: 0 1rem;
        font-size: 1.2rem;
        text-align: center;
      }
    }
    .aboutContainerMiddle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(236, 236, 236);
      margin-top: 4rem;
      margin-bottom: 4rem;
      box-shadow: #adadad 0px 0px 2px;
      .workshopsTitle {
        padding: 2rem;
        padding-bottom: 1.6rem;
        margin-bottom: 1.6rem;
        border-bottom: 2px solid #F3D213;
      }
      .workshopsSection {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 2rem;
        .workshopsSectionSingle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .workshopsSectionTitle {
            padding: 1rem;
          }
          .workshopsSectionDescr {
            padding: 2rem;
            margin: 0 2rem;
            text-align: center;
          }
        }
      }
    }
    .aboutContainerBottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      margin-bottom: 4rem;
      .whatWeTitle {
        padding: 1.6rem;
        border-bottom: 2px solid #F3D213;
      }
      .whatWeDescription {
        padding: 2rem;
        font-size: 1.2rem;
        margin: 0 1rem;
        text-align: center;
      }
    }

  }
}

@media screen and (max-width:640px) {
  #about {
  .aboutUs {
    .aboutContainerTop {
      .aboutUsTitle {
        font-size: 1.2rem;
      }
      .aboutUsDescription {
        font-size: 0.9rem;
      }
    }


    .aboutContainerMiddle {
      .workshopsTitle {
        font-size: 1.2rem;
      }
    .workshopsSection {
      flex-direction: column;
      .workshopsSectionSingle {
        .workshopsSectionTitle {
          font-size: 1rem;
        }
        .workshopsSectionDescr {
          font-size: 0.8rem;
        }
      }
    }
   }


    .aboutContainerBottom {
      .whatWeTitle {
        font-size: 1.2rem;
      }
      .whatWeDescription {
        font-size: 0.9rem;
      }
    }
  }
}
}
