#about {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  .aboutUs {
    .aboutContainerTop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .aboutUsTitle {
        padding: 3rem;
        padding-bottom: 1rem;
        font-size: 2rem;
        border-bottom: 3px solid #F3D213;
        color: rgb(69, 69, 69);
      }
      .aboutUsSubtitle {
        padding: 1.9rem;
        padding-bottom: 0;
        font-size: 2.1rem;
        color: #b49d1b;
        text-align: center;
      }
      .aboutUsBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3rem;
        padding-bottom: 0;
        .aboutUsDescription {
          padding: 1rem;
          margin: 2rem;
          font-size: 1.3rem;
          text-align: center;
          color: rgb(69, 69, 69);
        }
        .aboutUsPicBox {
          display: flex;
          justify-content: space-between;
          border-radius: 4px;
          .aboutUsPic {
            height: 16rem;
            border-radius: 6px;
            padding: 0.1rem;
            margin: 0.3rem 0.5rem;
            box-shadow: rgba(0, 0, 0, 0.192) 2px 3px 8px;
          }
        }
      }
    }
    .aboutContainerMiddle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(240, 240, 240);
      margin-top: 4rem;
      margin-bottom: 4rem;
      box-shadow: #dfdfdf 0px 0px 2px;
      .workshopsTitle {
        padding: 2rem;
        font-size: 2rem;
        padding-bottom: 1rem;
        margin-bottom: 1.6rem;
        color: rgb(69, 69, 69);
        border-bottom: 3px solid #F3D213;
      }
      .workshopsSection {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 2rem;
        .workshopsSectionSingle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-width: 33%;
          .workshopsSectionTitle {
            padding: 1rem;
            color: #b49d1b;
            font-size: 1.4rem;
          }
          .workshopsSectionDescr {
            padding: 1rem;
            font-size: 1.1rem;
            margin: 0 2rem;
            text-align: center;
            color: rgb(69, 69, 69);
          }
        }
      }
    }
    .aboutContainerBottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      margin-bottom: 4rem;
      .whyUsTitle {
        padding: 1rem;
        border-bottom: 3px solid #F3D213;
        color: rgb(69, 69, 69);
        font-size: 2rem;
      }
      .whyUsBox {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        .whyUsPic {
          height: 17rem;
          border-radius: 8px;
          /* padding-left: 2rem; */
          margin-left: 2rem;
          box-shadow: 1px 1px 2.2px 2.4px hsla(0, 0%, 0%, 0.156);
          /* box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 8px; */

        }
        .whyUsDescription {
          padding: 1rem 2rem;
          padding-top: 0;
          font-size: 1.4rem;
          margin: 0 1.8rem;
          color: rgb(69, 69, 69);
          width: 38rem;
        }
      }
    }

  }
}

@media screen and (max-width:840px) {
  #about {
  .aboutUs {
    .aboutContainerTop {
      .aboutUsTitle {
        font-size: 1.2rem;
      }
      .aboutUsSubtitle {
        font-size: 1rem;
        padding-bottom: 0.4rem;
      }
      .aboutUsBox {
        .aboutUsDescription {
          font-size: 0.9rem;
          padding: 0;
          margin: 1.6rem 1rem;
        }
        .aboutUsPicBox {
          flex-direction: column;
          .aboutUsPic {
            height: 12.5rem;
            margin: 0.4rem 0.2rem;
            padding: 0.15rem;
          }

        }
      }
    }


    .aboutContainerMiddle {
      .workshopsTitle {
        font-size: 1.2rem;
      }
    .workshopsSection {
      flex-direction: column;
      margin: 0 0.5rem;
      .workshopsSectionSingle {
        max-width: 100%;
        .workshopsSectionTitle {
          font-size: 1rem;
        }
        .workshopsSectionDescr {
          font-size: 0.8rem;
          padding-top: 0.5rem;
        }
      }
    }
   }


    .aboutContainerBottom {
      margin-bottom: 1rem;
      .whyUsTitle {
        font-size: 1.2rem;
        padding-top: 0.5rem;
        margin-left: 0;
      }
      .whyUsBox {
        flex-direction: column;
        padding-top: 1.8rem;
        padding-bottom: 1.2rem;
        .whyUsPic {
          height: 12.5rem;
          margin-bottom: 0.5rem;
          margin-left: 0;
          padding-left: 0;
        }
        .whyUsDescription {
          font-size: 0.9rem;
          padding-top: 1.5rem;
          padding-bottom: 0;
          text-align: center;
          width: 90%;
          height: auto;
        }
      }
    }
  }
}
}
