#contact {
  min-height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .contactPageLeft {
      display: flex;
      align-items: center;
      flex-direction: column;
      .contactTitle {
        margin: 1rem;
        padding-bottom: 0.4rem;
        font-size: 4rem;
        border-bottom: 2px solid #F3D213;
        color: rgba(83, 83, 83, 0.944);
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.125);
      }
      .socialLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;

        .socialLink{
          opacity: 0.8;
          height: 3rem;
          margin: 0 0.7rem;
        }
        .socialLink:hover{
        opacity: 0.6;
        transition: all 0.3s ease;
      }
     }
      .emailButton {
        margin: 2rem;
        margin-top: 1rem;
        padding: 1.6rem;
        border-radius: 8px;
        background: #e7c91e;
        border: none;
        box-shadow: #968316b1 2px 3px 8px;
        color: rgba(0, 0, 0, 0.753);
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.236);
      }
      .emailButton:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: all 0.8s ease;
      }
    }
    .contactPageRight {
      .rightPicture {
        height: 24rem;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.386), 0 15px 40px #e7c91e2c;
        border-radius: 20px;
      }
    }
}

@media screen and (max-width:1170px) {
  #contact {
    .contactPageRight {
      .rightPicture {
        height: 16rem;
      }
    }
  }
}

@media screen and (max-width:720px) {
  #contact {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .contactPageLeft {
        margin-bottom: 1rem;
        margin-top: 0;
        .contactTitle {
          font-size: 2.8rem;
          padding-bottom: 1rem;
        }
        .socialLinks {
          .socialLink {
            height: 2.8rem;
          }
        }
        .emailButton {
          padding: 1.5rem;
        }

      }
      .contactPageRight {
        margin-top: 1rem;
        .rightPicture {
          height: 11rem;
        }
      }
    }
}
