#contact {
  background: linear-gradient(90deg, #f3d11382 46%, #ffff 54%);
  min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .contactPageLeft {
      display: flex;
      align-items: center;
      flex-direction: column;
      .contactTitle {
        margin: 2.5rem;
        font-size: 3rem;
      }
      .emailButton {
        margin: 2rem;
        padding: 1rem;
        border-radius: 0.2rem;
        background: #000000;
        border: none;
        box-shadow: #0000003a 0px 3px 12px;
        color: white;
      }
      .emailButton:hover {
        cursor: pointer;
        opacity: 0.8;
      }
      .socialLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        height: 2.7rem;

        .socialLink{
          height: 2.9rem;
          padding-top: 0.5rem;
          margin: 0 0.7rem;
        }
        .socialLink:hover{
        opacity: 0.6;
        transition: all 0.3s ease;
      }
     }
    }
    .contactPageRight {
      .rightPicture {
        padding: 3rem;
        border: 2px #F3D213 solid;
      }
    }
}

@media screen and (max-width:640px) {
  #contact {
      flex-direction: column;
      background: linear-gradient(180deg, #f3d11382 45%, #ffff 55%);
      .contactPageLeft {
        .contactTitle {
          font-size: 1.6rem;
        }
        .socialLinks {
          .socialLink {
            height: 1.8rem;
          }
        }
      }
      .contactPageRight {
        .rightPicture {
          font-size: 0.8rem;
        }
      }
    }
}
