#team {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  .teamSection {
    .teamItem {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem;
      max-width: 90%;
      .teamItemLeft {
        .teamPic {
          height: 25rem;
          border-radius: 8px;
        }
      }
      .teamItemRight {
        padding: 0 2.5rem;
        .teamTitle {
          font-size: 2rem;
          padding-bottom: 2rem;
          color: #b49d1b;
        }
        .teamDescription {
          font-size: 1.3rem;
        }
      }
    }
  }
}
@media screen and (max-width:720px) {
  #team {
    .teamSection {
      .teamItem {
        flex-direction: column;
        max-width: 100%;
        text-align: center;
        .teamItemLeft {
          .teamPic {
            height: 22rem;
          }
        }
        .teamItemRight {
          padding: 0;
          .teamTitle {
            padding-top: 2rem;
            padding-bottom: 0;
            font-size: 1.4rem;
          }
          .teamDescription {
            padding: 2rem 0;
            font-size: 0.9rem;
          }
        }
      }
    }
}
}
