#whatWeOffer {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  .whatWeOffer {
    .whatWeOfferContainerTop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .whatWeOfferTitle {
        padding: 3rem;
        padding-bottom: 0.7rem;
        font-size: 2rem;
        border-bottom: 2px solid #F3D213;
        color: rgba(83, 83, 83, 0.944);
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.064);
      }
      .whatWeOfferSubtitle {
        padding: 1.9rem;
        padding-bottom: 0;
        font-size: 2.1rem;
        color: #b49d1b;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.081);
        text-align: center;
      }
      .whatWeOfferBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3rem;
        padding-bottom: 0;
        .whatWeOfferDescription {
          padding: 1rem 3rem;
          margin: 2rem;
          margin-top: 1rem;
          font-size: 1.3rem;
          text-align: center;
          color: rgb(69, 69, 69);
        }
        .whatWeOfferPicBox {
          display: flex;
          justify-content: space-between;
          border-radius: 4px;
          .whatWeOfferPic {
            height: 16rem;
            border-radius: 6px;
            padding: 0.1rem;
            margin: 0.3rem 0.5rem;
            box-shadow: rgba(0, 0, 0, 0.192) 2px 3px 8px;
          }
        }
      }
    }
    .whatWeOfferContainerMiddle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(240, 240, 240);
      margin-top: 4rem;
      margin-bottom: 4rem;
      box-shadow: #dfdfdf 0px 0px 2px;
      .workshopsTitle {
        padding: 2rem;
        font-size: 2rem;
        padding-bottom: 0.8rem;
        margin-bottom: 1.6rem;
        color: rgba(83, 83, 83, 0.944);
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.081);
        border-bottom: 2px solid #F3D213;
      }
      .workshopsSection {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 2rem;
        .workshopsSectionSingle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-width: 33%;
          .workshopsSectionTitle {
            padding: 1rem;
            color: #b49d1b;
            text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.081);
            font-size: 1.4rem;
          }
          .workshopsSectionDescr {
            padding: 1rem;
            font-size: 1.1rem;
            margin: 0 2rem;
            text-align: center;
            color: rgb(69, 69, 69);
          }
        }
      }
    }
    .whatWeOfferContainerBottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 3rem;
      .contactInfoLeft {
        .contactInfo {
          padding-right: 0.2rem;
          font-size: 1.25rem;
          font-weight: 400;
        }
      }
      .contactInfoRight {
        padding-left: 0.2rem;
        .contactInfoLink {
          color: #b49d1b;
          text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.081);
          font-style: italic;
          font-size: 1.25rem;
        }
        .contactInfoLink:hover {
          cursor: pointer;
          opacity: 0.85;
        }
      }
    }

  }
}

@media screen and (max-width:1190px) {
  #whatWeOffer {
    .whatWeOffer {
      .whatWeOfferContainerTop {
        .whatWeOfferSubtitle {
          font-size: 1.8rem;
        }
        .whatWeOfferBox {
          .whatWeOfferPicBox {
            .whatWeOfferPic {
              height: 10.25rem;
            }
          }
        }
      }
      .whatWeOfferContainerMiddle {
        .workshopsSection {
          .workshopsSectionSingle {
            .workshopsSectionDescr {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:720px) {
  #whatWeOffer {
    overflow: hidden;
  .whatWeOffer {
    .whatWeOfferContainerTop {
      .whatWeOfferTitle {
        font-size: 1.2rem;
        padding-bottom: 1rem
      }
      .whatWeOfferSubtitle {
        font-size: 1rem;
        padding-bottom: 0.2rem;
        padding-top: 1.2rem;
      }
      .whatWeOfferBox {
        .whatWeOfferDescription {
          font-size: 0.9rem;
          padding: 0;
          margin: 1.2rem;
        }
        .whatWeOfferPicBox {
          flex-direction: column;
          .whatWeOfferPic {
            height: 12rem;
            margin: 0.4rem 0.2rem;
            padding: 0.15rem;
          }
        }
      }
    }
    .whatWeOfferContainerMiddle {
      .workshopsTitle {
        font-size: 1.2rem;
      }
    .workshopsSection {
      flex-direction: column;
      margin: 0 0.5rem;
      .workshopsSectionSingle {
        max-width: 100%;
        .workshopsSectionTitle {
          font-size: 1rem;
          margin-right: 0.2rem;
        }
        .workshopsSectionDescr {
          font-size: 0.8rem;
          padding-top: 0.5rem;
        }
      }
    }
   }
   .whatWeOfferContainerBottom {
    flex-direction: column;
    .contactInfoLeft {
      .contactInfo {
        font-size: 0.65rem;
      }
    }
    .contactInfoRight {
      .contactInfoLink {
        padding-top: 0.2rem;
        font-size: 0.65rem;
      }
    }
   }
  }
}
}
