#footer {
  background: #000000;
  color: #e2e2e2;
  padding-bottom: 0.25rem;
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .footerCol {
      padding-top: 0.5rem;
      margin-bottom: 0.2rem;
    }
  }

  .socialLinksFooter {
      padding-top: 0.5rem;
    .socialLinkFooter {
      height: 2rem;
      margin: 0 0.3rem;
    }
    .socialLinkFooter:hover {
      opacity: 0.5;
      transition: 0.5s ease;
    }
  }
}

@media screen and (max-width:560px) {
  #footer {
    font-size: 0.75rem;
    padding-bottom: 0;
    .row {
      flex-direction: row;
      justify-content: space-evenly;
      .footerCol {
        padding-left: 1rem;
      }
    }
    .socialLinksFooter {
      padding-right: 1rem;
      .socialLinkFooter {
        height: 1.3rem;
        margin: 0 0.2rem;
      }
    }
  }
}
