#footer {
  background: #000000;
  color: #e2e2e2;
  padding-bottom: 0.25rem;
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .footerCol {
      display: flex;
      padding-top: 0.5rem;
      margin-bottom: 0.2rem;
      .footerDate {
        margin-right: 0.3rem;
        color: #F3D213;
      }
    }
  }
  .socialLinksFooter {
      padding-top: 0.5rem;
      margin-left: 0.8rem;
    .socialLinkFooter {
      height: 1.8rem;
      margin: 0 0.3rem;
    }
    .socialLinkFooter:hover {
      opacity: 0.5;
      transition: 0.5s ease;
    }
  }
}

@media screen and (max-width:560px) {
  #footer {
    font-size: 0.5rem;
    .socialLinksFooter {
      margin-left: 0.3rem;
      .socialLinkFooter {
        height: 1.1rem;
        margin: 0 0.15rem;
      }
    }
  }
}
