#footer {
  /* width: 100vw; */
  height: 3.75rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faf9f6;
  padding-bottom: 0.25rem;

  .socialLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    .link{
      height: 2.3rem;
      padding-top: 0.5rem;
      margin: 0 0.5rem;
      /* opacity: 0.9; */
    }
    .link:hover{
      opacity: 0.5;
      transition: all 0.5s ease;
    }
  }

}

@media screen and (max-width:560px) {
  #footer {
    font-size: 0.65rem;
    padding-bottom: 0;
    height: 3.2rem;
  }
}
